@import "../../../../sass/base/typography";
@import "../../../../sass/components/spinner";

.store__detail{
    display: flex;
    align-items: center;
  
}
.form_field{
    width: 100%;
}
.row{
    display: flex;
    align-items: center;
}