.sidenav{
    position: absolute;
    left: 0px;
    top: 60px;
    bottom: 0px;
    background: #fff;
    width: 260px;
    padding-top: 20px;
    overflow-y: auto;
    z-index: 20;
    transition: left 0.5s ease,width 0.5s ease;
    ul{
        list-style: none;
        padding: 0px ;
        li{
            padding: 8px 20px;
            &:hover{
                background-color: rgb(240, 240, 231);
            }
        }
    }

}

@media(max-width:968px){
    .toggle.sidenav{
        left: 0px ;
    }
}


