<div class="mx-2 brand-header">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/jupiter20/affordability/Header_Pc_1500x178_English.jpg" alt="Start Shopping">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/jupiter20/affordability/PEA_Bank_PC_ENGLISH_1500x140.jpg" alt="bank">
</div>
<div class="mx-2 pt-3">
    <h3 class="secondary__heading">Blockbuster deals</h3>
    <div class="row px-2">
        <div class="col-lg-3 col-sm-4 px-2">
            <mat-card>
                <mat-card-content>
                    <img alt="image" src="../../../assets/img/mobile2.jpg" class="image">
                    <p class="mt-4">
                        &#x20B9; <span class="price">{{'30000 '}}</span>
                        <span style=" text-decoration-line: line-through;">M.R.P.35600 </span>
                        <span>(15% off)</span>
                    </p>
                    <p class="title">Samsung note 20 (128gb)-White</p>
                    <p-rating [(ngModel)]="val" [cancel]="false" readonly="true" ></p-rating>
                    
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-sm-4 px-2">
            <mat-card>
                <mat-card-content>
                    <img alt="image" src="../../../assets/img/mobile4.jpg" class="image">
                    <p class="mt-4">
                        &#x20B9; <span class="price">{{'30000 '}}</span>
                        <span style=" text-decoration-line: line-through;">M.R.P.35600 </span>
                        <span>(15% off)</span>
                    </p>
                    <p class="title">Samsung note 20 (128gb)-White</p>
                    <p-rating [(ngModel)]="val" [cancel]="false" readonly="true" ></p-rating>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-sm-4 px-2">
            <mat-card>
                <mat-card-content>
                    <img alt="image" src="../../../assets/img/images3.jpg" class="image">
                    <p class="mt-4">
                        &#x20B9; <span class="price">{{'30000 '}}</span>
                        <span style=" text-decoration-line: line-through;">M.R.P.35600 </span>
                        <span>(15% off)</span>
                    </p>
                    <p class="title">Samsung note 20 (128gb)-White</p>
                    <p-rating [(ngModel)]="val" [cancel]="false" readonly="true" ></p-rating>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-sm-4 px-2">
            <mat-card>
                <mat-card-content>
                    <img alt="image" src="../../../assets/img/mobile1.jpg" class="image">
                    <p class="mt-4">
                        &#x20B9; <span class="price">{{'30000 '}}</span>
                        <span style=" text-decoration-line: line-through;">M.R.P.35600 </span>
                        <span>(15% off)</span>
                    </p>
                    <p class="title">Samsung note 20 (128gb)-White</p>
                    <p-rating [(ngModel)]="val" [cancel]="false" readonly="true" ></p-rating>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>