
@import "../../../sass/base/typography";
@import "../../../sass/abstract/variables";

.brand-header{
    img{
        width: 100%;
    }
}

.image{
    height: 280px;
    width: 100%;
}
::ng-deep .p-rating .p-rating-icon.pi-star{
    color: $color-yellow-dark ;

}

mat-card{
    margin-bottom: 15px;
}

.price{
    font-weight: 500;
    font-size: 1.2rem;
    color: $color-red-dark;
}

.title{
    color: $color-primary;
}

.product-item {
    .product-item-content {
        // border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 100%;
        height:100%;
        // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}
