@import "~sass/abstract/variables";
@import "~sass/abstract/keyframes";

.gradient_icon{
     background-clip: text;
    -moz-text-fill-color: transparent;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(92deg, $color-yellow-dark, $color-green-dark);
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear;
}


