<div class="main-container">
    <mat-toolbar color="primary" class="header">
       
  
         <div class="menu">
           <button mat-icon-button ><mat-icon>menu</mat-icon></button>
         </div>
         <span class="bran_name" >MyShop</span>
         <div class="spacer"></div>
         <ul>
           <li>
             <a routerLink="/auth/signin">Login</a>
           </li>
           <li>
            <mat-icon matBadge="5" matBadgeColor="warn" matBadgeSize="small"class="cart">shopping_cart</mat-icon>
           </li>
         </ul>
         <!-- <div class="header-container">
           
           <div> <button mat-flat-button color="accent" routerLink="/auth/signin" class="mr-3">Login</button></div>
           <div class="mr-2" *ngIf="isLogin">
             <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
             <mat-menu #menu="matMenu">
               <button mat-menu-item style="outline: none;">
                 <mat-icon >person_outline</mat-icon>
                 <span>My Account</span>
               </button>
               
               <button mat-menu-item>
                 <mat-icon style="transform: rotate(-180deg);">login</mat-icon>
                 <span>LogOut</span>
               </button>
             </mat-menu>
           </div>
           <div>
            
           </div>
         </div> -->
     </mat-toolbar>
     
 <aside class="sidenav">
   <app-sidenav></app-sidenav>
 </aside>
 <div class="main-content">
   <router-outlet></router-outlet>
 </div>
</div>
