
     <mat-nav-list class="sidenav_list">

      <mat-list-item >
         <a matLine routerLink="/main/admin">
         <div class="d-flex">
          <mat-icon class="material-icons-outlined gradient_icon">shopping_bag</mat-icon> 
          <span class="ml-3 pt-1">All Products</span>
         </div>
        </a>
      </mat-list-item>

      <mat-list-item >
        <a matLine routerLink="#">
        <div class="d-flex">
         <mat-icon class="material-icons-outlined gradient_icon" >storefront
        </mat-icon> 
         <span class="ml-3 pt-1">Inventory</span>
        </div>
       </a>
     </mat-list-item>

     <mat-list-item >
      <a matLine routerLink="#">
      <div class="d-flex">
       <mat-icon class="material-icons-outlined gradient_icon">language</mat-icon> 
       <span class="ml-3 pt-1">Item3</span>
      </div>
       </a>
     </mat-list-item>

     <mat-list-item >
       <a matLine routerLink="#">
        <div class="d-flex">
         <mat-icon class="material-icons-outlined gradient_icon">settings</mat-icon> 
        <span class="ml-3 pt-1">Item4</span>
        </div>
      </a>
     </mat-list-item>

     <mat-list-item >
      <a matLine routerLink="#">
      <div class="d-flex">
      <mat-icon class="material-icons-outlined gradient_icon">verified</mat-icon> 
      <span class="ml-3 pt-1">Item 5</span>
      </div>
      </a>
 </mat-list-item>

  <mat-list-item >
    <a matLine routerLink="#">
    <div class="d-flex">
    <mat-icon class="material-icons-outlined gradient_icon">work_outline</mat-icon> 
     <span class="ml-3 pt-1">Item 6</span>
    </div>
   </a>
 </mat-list-item>
 <mat-list-item >
  <a matLine routerLink="#">
    <div class="d-flex">
    <mat-icon class="material-icons-outlined gradient_icon">album</mat-icon> 
    <span class="ml-3 pt-1">Item 7</span>
    </div>
   </a>
 </mat-list-item>

    </mat-nav-list>