<mat-nav-list class="sidenav_list">
  <mat-list-item>
    <a matLine routerLink="/main/admin/general">
      <div class="d-flex">
        <mat-icon class="material-icons-outlined gradient_icon"
          >account_circle</mat-icon
        >
        <span class="ml-3 pt-1">Your Account</span>
      </div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a matLine routerLink="/main/admin/all-products">
      <div class="d-flex">
        <mat-icon class="material-icons-outlined gradient_icon"
          >shopping_bag</mat-icon
        >
        <span class="ml-3 pt-1">All Products</span>
      </div>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a matLine routerLink="/main/admin/inventory">
      <div class="d-flex">
        <mat-icon class="material-icons-outlined gradient_icon"
          >storefront
        </mat-icon>
        <span class="ml-3 pt-1">Inventory</span>
      </div>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a matLine routerLink="/main/admin/setting">
      <div class="d-flex">
        <mat-icon class="material-icons-outlined gradient_icon"
          >settings</mat-icon
        >
        <span class="ml-3 pt-1">Setting</span>
      </div>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a matLine>
      <div class="d-flex">
        <mat-icon class="material-icons-outlined gradient_icon">login</mat-icon>
        <span class="ml-3 pt-1">Logout</span>
      </div>
    </a>
  </mat-list-item>
</mat-nav-list>
