<h1 class="primary__heading">Inventory</h1>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="onKeyup(input.value)" placeholder="Title or Vendor" #input>
    <mat-icon matSuffix (click)="onFilter(input.value)" style="cursor: pointer;">search</mat-icon>
  </mat-form-field>
  

<mat-card class="table-responsive-sm">
  <table class="table table-borderless">
   <thead>
    <tr>
      <th>Product</th>
      <th>Title</th>
      <th>Available</th>
      <th nowrap>Edit quantity available</th>
      <th>Actions</th>
    </tr>
   </thead>
    <tbody>
      <tr *ngFor="let product of products" class="border-top">
        <td>
          <img [src]="product.images[0]" alt="productImage" height="100px">
        </td>
        <td class="vertical-align">{{product.title}}</td>
        <td class="vertical-align">{{product.quantity}} </td>
        <td>
          <div class="input-box">
            <input matInput type="number" class="input" name="quantity" #quantity>   
            <button (click)="onUpdateQuantity(product._id,quantity.value)">save</button>
        </div>
        </td>
        <td nowrap class="vertical-align">
          <mat-icon class="mr-2 material-icons-outlined " color="primary" style="cursor: pointer;" (click)="onEdit(product._id)">edit</mat-icon>
          <mat-icon class="material-icons-outlined " color="warn" style="cursor: pointer;" (click)="onDelete(product._id)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>