
<h2 mat-dialog-title>Change your email</h2>
<mat-dialog-content class="mat-typography">
 
   <div class="d-flex" style="flex-direction: column;">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" [(ngModel)]="email" name="email" >
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password">
    </mat-form-field>
   <button type="button" mat-flat-button color="primary" (click)="onUpdate()">Update</button>
   </div>

</mat-dialog-content>
<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
