<style>
    mat-form-field{
        min-width: 20rem;
    }
</style>
<h2 mat-dialog-title>Change your email</h2>
<mat-dialog-content class="mat-typography">
  <form class="d-flex" style="flex-direction: column;">
      <mat-form-field>
          <input type="email" matInput placeholder="Enter your new email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Enter your current password">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Change email</button>
</mat-dialog-actions>
