$color-primary:#3f51b5;
$color-green:#21a33ecc;
$color-green-dark:#107c27cc;
$color-white: #ffffff;
$color-black:#080808;
$color-grey:#757272;
$color-grey-medium:#9b9898ce;
$color-grey-medium-2:#d1cecea4;
$color-grey-light:#f4f6f8;
$color-yellow:#FFFF00;
$color-yellow-dark:#ffc200;
$color-orange:#FF8C00;
$color-red:#FF0000;
$color-red-dark:#da2707;
$color-maroon:#800000;