.login{
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    
    .auth__card{
        padding: 0px;
        min-height: 444px;
        text-align: center;
        display:flex;
        background: rgba(255, 255, 255, 0.555);
        box-shadow: 1px 2px 8px rgba(58, 57, 57, 0.589);
        .img-box{
            margin: -1px;
            padding-top: 10%;
            border-top-left-radius: 4.6px;
            border-bottom-left-radius: 4.6px;
            background-image: linear-gradient(45deg, #88d3ce 0%, #6e45e2 100%);
            
            .img{
                height: 230px;
                margin:3rem 2rem;
               
            }
        }
        .form_container{
          
            form{
                flex-direction: column;
                align-items: center;
                .form-field{
                    min-width: 300px;
                }
                .visible_icon{
                    cursor: pointer;
                }
                
            }
            .btn_signup{
                display: block;
                border-radius: 4px;
                width: 100%;
                outline: none;
              }
        }
    }
}