<div class="container">
  <h1>Add product</h1>
  <div class="row">
    <div class="col-md-8">
      <mat-card>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="t-shirt"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </form>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>Simple card</mat-card>
    </div>
  </div>
</div>
