<div class="container">
  <h1>Add product</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="card1">
        <mat-card>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="t-shirt"
              />
            </div>
            <div class="form-group mb-0">
              <label for="exampleFormControlTextarea1">Description</label>
              <p-editor
                formControlName="description"
                [style]="{ height: '150px' }"
              >
              </p-editor>
              <!-- <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea> -->
            </div>
          </form>
        </mat-card>
      </div>
      <div class="card2 mt-4">
        <mat-card>
          <div
            class="media-section d-flex justify-content-between align-items-baseline"
          >
            <h3>Media</h3>
            <div>
              <button mat-button [matMenuTriggerFor]="belowMenu">
                <a href="" (click)="foo($event)">Add and url</a>

                <mat-icon aria-hidden="false" aria-label="Example home icon"
                  >arrow_drop_down</mat-icon
                >
              </button>
              <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item class="menu1">Item 1</button>
                <button mat-menu-item class="menu2">Item 2</button>
              </mat-menu>
            </div>
          </div>
          <div class="file-upload-section mt-3">
            <input type="file" />
            <mat-icon
              aria-hidden="false"
              color="warn"
              aria-label="Example home icon"
              >backup</mat-icon
            >
            <button mat-raised-button color="primary">Primary</button>
            <p>Or Drop file to uploads</p>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4">
      <mat-card>Simple card</mat-card>
    </div>
  </div>
</div>
