@import "./sass/components/sidenav";
@import "./sass/components/header";
@import "./sass/abstract/variables";

body,
html {
  height: 100%;
}
body {
  padding: 0px;
  outline: none;
  margin: 0px;
  font-size: 16px;
  overflow-x: hidden !important;
  font-family: "Amiri", serif;
  font-family: "Long Cang", cursive;
  background: $color-grey-light;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px grey;
//   border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgb(161, 159, 159);
//   border-radius: 10px;
// }

@media (max-width: 978px) {
  .sidenav {
    left: -15rem;
  }
  .main-content {
    margin-left: 0px;
  }
}
